[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/maheshkg-acc
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/maheshkg-acc
	label-Verified = -1..+1 group user/maheshkg-acc
	push = group user/maheshkg-acc
	read = group user/maheshkg-acc
	rebase = group user/maheshkg-acc
	removeReviewer = group user/maheshkg-acc
	submit = group user/maheshkg-acc
[access "refs/heads/*"]
	create = group user/maheshkg-acc
	push = +force group user/maheshkg-acc
	pushMerge = group user/maheshkg-acc
	read = group user/maheshkg-acc
[access "refs/tags/*"]
	push = group user/maheshkg-acc
	push = +force group user/maheshkg-acc
